@font-face {
    font-family: 'XGA'; /*a name to be used later*/
    src: url('XGA.woff'); /*URL to font*/
}
body{
    background: #555;
    color: white;
    margin: 0;
    font-family: 'XGA';
    font-size: 25;
}
h1{
    font-weight: 400;
}